/* * {
    color: green;
} */
/* 속성 선택자 */
/* div 중 name 속성을 가지고 있는 태그(요소) 선택 */
/* div[name] {
    background-color: orange;
} */

/* div 중 name 속성의 값이 name1과 일치하는 태그(요소) 선택 */
div[name=name1] {
/* div[name="name3 name1"] { */
    background-color: orangered;
}

/* div 중에 name 속성값이 name1이거나 name1이 포함되어 있는 태그(요소) 선택 */
div[name~=name1] {
    background-color: yellow;
}

/* div 중에 class 속성값이 class이거나 class로 시작되는 태그(요소) 선택 (단, -로 구분) */
div[class|=class] {
    background-color: aquamarine;
}

/* div 중에 class 속성값이 div으로 시작되는 태그(요소) 선택 */
div[class^=div] {
    background-color: blue;
}

/* div 중에 class 속성값이 class로 끝나는 태그(요소) 선택 */
div[class$=class] {
    color: white;
}

/* div 중에 class 속성값에 i를 포함하는 태그(요소) 선택 */
div[class*=i] {
    background-color: greenyellow;
    color: red;
}

/*  
    클래스 속성의 값이 div-class인 태그(요소) 중
    name 속성값에 name3가 포함되어 있는 태그(요소) 선택
    (단, 속성값이 띄어쓰기로 구분)
*/
.div-class[name~=name3] {
/* .div-class[name*=name3] { */
/* div[class=div-class][name*=name3] { */
    background-color: pink;
}

/* 자식 선택자 / 후손 선택자 */
#test1>h4 {
    background-color: orange;
}

#test1>ul>h4 {
    background-color: purple;
}

#test1>ul>li {
    background-color: aquamarine;
}

#test1 h4 {
    color: white;
}

#test1 li {
    color: red;
}

/* 형제 선택자 */
#test2 {
    background-color: red;
}

#test2+div {
    background-color: yellowgreen;
}

/* #test2~div { */
#test2+div~div {
    background-color: orange;
}

/* 반응 선택자 */
#test3, #test4 {
    background-color: yellowgreen;
    width: 300px;
    height: 300px;
}

#test3:active {
    background-color: yellow;
    color: green;
}

#test4:hover {
    background-color: hotpink;
    color: white;
    cursor: pointer;
}

/* #userId:focus, #userPwd:focus { */
/* input:focus { */
/* input[name*=user]:focus { */
input[name^=user]:focus {
    border: 5px solid red;
    color: purple;
}

/* 상태 선택자 */
input[type=checkbox]:checked {
    width: 25px;
    height: 25px;
}

input[type=checkbox]:checked+label {
    font-size: 20pt;
}

button:enabled {
    border: 3px solid yellowgreen;
    background-color: yellowgreen;
}

button:enabled:active {
    border: 3px solid green;
}

button:disabled {
    background-color: gray;
    color: white;
}

/* 구조 선택자 */
/* 형제 관계 태그 중 첫 번째 태그 선택 */
#test5 p:first-child {
    background-color: red;
    color: white;
}

/* 형제 관계 태그 중 마지막 태그 선택 */
/* 마지막 자식이 p 태그가 아니여서 스타일이 적용되지 않는다. */
#test5 p:last-child {
    background-color: orange;
    color: white;
}

/* 형제 관계 태그 중 앞에서 수열 번째 태그 선택 */
/* #test5 p:nth-child(2) { */
/* 수식을 사용하거나 odd, even를 대입해 줄 수 있다. */
/* #test5 p:nth-child(2n) { */
/* #test5 p:nth-child(2n + 1) { */
/* #test5 p:nth-child(odd) { */
#test5 p:nth-child(even) {
    background-color: yellowgreen;
    color: white;
}

/* 형제 관계 태그 중 뒤에서 4번째 태그 선택 */
#test5 p:nth-last-child(4) {
    background-color: skyblue;
    color: whitesmoke;
}

/* 형제 관계 태그 중 첫 번째 태그 선택 */
#test6 p:first-of-type {
    background-color: red;
    color: white;
}

/* 형제 관계 태그 중 마지막 태그 선택 */
#test6 p:last-of-type {
    background-color: orange;
    color: white;
}

/* 형제 관계 태그 중 앞에서 수열 번째 태그 선택 */
#test6 p:nth-of-type(even) {
    background-color: yellowgreen;
    color: white;
}

/* 형제 관계 태그 중 뒤에서 4번째 태그 선택 */
#test6 p:nth-last-of-type(4) {
    background-color: skyblue;
    color: whitesmoke;
}

/* 문자 선택자 */
/* 첫 번째 글자를 선택해서 스타일 적용 */
#test7 p::first-letter {
    font-size: 20pt;
}

/* 첫 번째 라인을 선택해서 스타일 적용 */
#test7 p::first-line {
    background-color: beige;
}

/* 선택된 요소 내용 앞에 공간을 선택해서 스타일 적용 */
#test7 p::before {
    content: "1. ";
    color: orange;
    font-weight: bold;
}

/* 선택된 요소 내용 뒤에 공간을 선택해서 스타일 적용 */
#test7 p::after {
    content: " 끝.";
    font-size: 2em;
    font-weight: bold;
}

/* 사용자가 드래그한 글자를 선택해서 스타일 적용 */
#test7 p::selection {
    background-color: black;
    color: whitesmoke;
}

/* 부정 선택자 */
/* #test8 p:not(.p) { */
/* #test8 p:not(:last-child) { */
/* #test8 p:not(:nth-child(even)) { */
#test8 p:not(:nth-child(odd)) {
    background-color: aquamarine;
    color: chocolate;
}